    apiVersion: networking.gloo.solo.io/v2
    kind: RouteTable
    metadata:
      name: httpbin-215
      namespace: httpbin
      labels:
        expose: "true"
        jwt: "true"
        passthrough: "true"
    spec:
      hosts:
        - httpbin-215.test
      virtualGateways:
        - name: north-south-gw
          namespace: istio-gateways
          cluster: cluster1
      http:
        - name: httpbin-215-renamed
        #- name: httpbin-215
          matchers:
          - uri:
              prefix: /
          delegate:
            routeTables:
              - labels:
                  route-table: middle
            sortMethod: ROUTE_SPECIFICITY
          labels:
            route: httpbin-215
